body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-bottom: 30px;
}

header {
    background: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

a:hover {
    color: gray;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.news-row {
  display: flex;
  margin-right: 15px;
  margin-bottom: 5px;
}

.news-title {
  width: 66.66666667%;
}

.news-date {
  width: 33.33333333%;
}

.search input {
width:80%;
margin-left: 15px;
margin-top:.5rem;
margin-bottom:.5rem;
font-size: 0.9rem;
padding: 0.5rem;
border-radius: 1rem;
border: 1px solid #eeeeee;
}

.project h3 {
  margin-left: 45px;
  margin-right: 35px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between
}

.project p {
  margin-left: 45px;
  margin-right: 35px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about h1{
  text-align: center;
  line-height: 1;
}

.about h3 {
  text-align: center;
  line-height: 0.9;
  margin-top: 5px;
  margin-bottom: 15px;
}

.about p{
  font-weight: 500;
  line-height: 1.1;
  margin-left: 20px;
  padding-bottom: 1px;
  display: block;
}

.about img {
    margin-top: 20px;
    width: 200px;
    height: 200px; 
    border-radius: 20%; 
}

.about p img {
  margin: 0;
  width: 15px;
  height: 15px;
}

#education h3 {
  text-align: center;
  margin-left: 0px;
  margin-bottom: 0px;
}

#projects h2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

#projects h3{
  margin-left: 35px;
  margin-right: 35px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

#projects a{
  margin-left: 65px;
}

#self-summary{
  margin: 40px 20px 20px 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

#news h2{
  margin-left: 15px;
}

@media (max-width: 768px) {    
  .menu-toggle {
    display: block;
    cursor: pointer;
    outline: none;
  }

  .nav-container {
    display: none; 
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    background: #f1f1f1;
    padding: 0;
  }

  .nav-container:hover, .menu-toggle:focus + .nav-container {
    display: flex; 
  }

  .nav-links {
    list-style: none;
    padding: 0;
  }

  .nav-links li {
    margin: 0;
  }

  .nav-links li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  .nav-links li a:hover {
    color: gray;
  }
}

@media (min-width: 769px) {
  body main {
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px;
    align-items: start
  }

  .about {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .project {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  #news {
    grid-row-start: 3;
    grid-row-end: 5;
  }
  
  #self-summary {
    grid-column: 2;
    grid-row: 1;
  }
  
  #projects {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 6;
  }
}
